th{
    width: 1em;
    height: 1em;
    border: 1px solid lightblue;
}

.node{
    width: 20px;
    height: 20px;
    border: 1px solid lightblue;
}

.unvisited:hover{
    cursor: pointer;
}

.node{
    margin-right: 0.3em;
}

li{
    list-style: none;
}

.grid{
    display: flex;
    justify-content: center;
}

.node-description{
    display: flex;
    align-items: center;
}

.all-nodes{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    

}
/* all nodes colors */
#start-node{
    background: green;
}
#end-node{
    background: blue;
}
#wall-node{
    background: black;
}
#visit-node-1{
    background-color: rgba(17, 104, 217, 0.75);
}
#visit-node-2{
    background-color: rgba(0, 190, 218, 0.75);
}

#path-node{
    background: yellow;
}

.box-nodes{
    display: flex;
}

.path-node{
    border: 1px solid lightblue;
    animation-duration: 3s;
    animation-name: animate-path;
    animation-fill-mode: forwards; 
    /* background: yellow; */
}

.start-node{
    background: green;
}

.end-node{
    background: blue;
}
.wall-node{
    background: black;
}
.visited-node{
    background: rgba(0, 190, 218, 0.75);
    animation-duration: 2s;
    animation-name: animate-discovered;
    animation-fill-mode: forwards;    
}


/* animation for changing node color and how they show up */
@keyframes animate-discovered{
    0% {
        transform: scale(.3);
        background-color: rgba(0, 0, 66, 0.75);
        border-radius: 100%;
      }
    
      50% {
        background-color: rgba(17, 104, 217, 0.75);
      }
    
      75% {
        transform: scale(1.2);
        background-color: rgba(0, 217, 159, 0.75);
      }
    
      100% {
        transform: scale(1.0);
        background-color: rgba(0, 190, 218, 0.75);
      }
    }

@keyframes animate-path{
    0% {
        transform: scale(0.3);
        background-color: rgba(0, 190, 218, 0.75);
    }   
    20% {
        transform: scale(0.5);
        background: yellow;

    }
    50% {
        transform: scale(1.2);
        background: yellow;

    }
    100% {
        transform: scale(1.0);
        background: yellow;

    }
}

.description{
    display: flex;
    justify-content: center;
}


/* control buttons divs */
.all-btns{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}


@media(max-width: 857px){
    th, .node{
        width: 0.8em;
        height: 0.8em;
        border: 1px solid lightblue;
    }

    .all-nodes{
        display: block;
    }
}

@media(max-width: 857px){
    .box-nodes{
        display: block;
    }
}


@media(max-width: 700px){
    th{
        width: 0.6em;
        height: 0.6em;
        border: 1px solid lightblue;
    }

}


@media(max-width: 400px){
    th{
        width: 0.3em;
        height: 0.3em;
        border: 1px solid lightblue;
    }
}