<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Generator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="all-nodes">
            <div class="one-node">
                <ul class='node-description'>
                    <li id='start-node' class='node'></li>
                    <li>Start Node</li>
                </ul>
            </div>    
            <div class="one-node">
                <ul class='node-description'>
                    <li id='end-node' class='node'></li>
                    <li>Target Node</li>
                </ul>
            </div>  
            <div class="one-node">
                <ul class='node-description'>
                    <li id='wall-node' class='node'></li>
                    <li>Wall Node</li>
                </ul>
            </div>  
            <div class="one-node">
                <ul class='node-description'>
                    <li id='visit-node-1' class='node'></li>
                    <!-- <li id='visit-node-2' class='node'></li> -->
                    <li>Visited Node</li>
                </ul>
            </div>  
            <div class="one-node">
                <ul class='node-description'>
                    <li id='path-node' class='node path-node'></li>
                    <li>Shortest-path Node</li>
                </ul>
            </div> 
        </div>
        <div class="all-btns">
            <div class="submit-btn btn btn-info m-1">Visualize Dijkstra</div>
            <div class="clear-board btn btn-info m-1">Clear board</div>
            <div class="make-demo btn btn-info m-1">Preset 1</div>
            <div class="random-maze btn btn-info m-1">Random maze</div>


            

        </div>
    </div>

    <div class="grid">
        <table id="board">
        </table>
    </div>
</body>
<script src="{{url_for('static', filename='script.js')}}"> </script>
</html>